@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-red: hsl(0, 100%, 74%);
    --primary-green: hsl(154, 59%, 51%);
    --accent-blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%) ;
    --grayish-blue: hsl(246, 25%, 77%);
}
body {
    font-family: 'Poppins';
    font-size: 16px;
    color: #fff;
    background-color: var(--primary-red);
}
a{
  text-decoration: none;
  color: var(--primary-red);
  cursor: pointer;
}
.header-bg{
  position: absolute;
  background-size: cover;
  background-repeat: none;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
} 
.hero{
  height: 600px; 
  position: relative;
}
.hero-text{
    flex-wrap: wrap;
    width: 400px;
}
.hero h1{
  font-size: 30px;
  font-weight: 700;
  width: auto;
}
.hero p{
  margin:15px 0;
}

/*form*/
.hero-form{
  top: 40px;
  width: 400px;
}
.form-header{
  background-color: var(--accent-blue);
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 15px;
  text-align: center;
  box-shadow: 0 4px 3px -2px var(--dark-blue);
}

input[type ='text'],
input[type ='password'],
input[type = 'email'],
input[type='submit']{
    border: 1px solid #DDDDDD;
    width: 100%;
    padding: 10px;
    margin: 4px;
    border-radius: 4px;
    font-size: 10px;
 }
input[type='submit'] {
    background-color: var(--primary-green);
    color: #fff;
    width: 100%;
    border: 0;
    padding: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
input:focus{
    outline-color: var(--grayish-blue);
}
.form-control{
  margin-bottom: 5px;
  padding-bottom: 10px;
  position: relative;
}
.form-control i{
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}
.form-control.success i.fa-check-circle{
  color: #5bba2c;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
  color: #e82513;
  visibility: visible;
}
.form-control small{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
.form-control.error small{
  color: #e82513;
  visibility: visible;
  font-size: 9px;
}
.form-control.success input{
  border-color: #5bba23;
}
.form-control .error input{
  border-color: #e82513;
}

.foot-note {
    font-size: 9px;
    text-align: center;
    color: var(--grayish-blue);   
}


/*Utilities*/
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1440px;
  overflow: hidden;
  padding: 70px;
}
/*.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}*/
.card{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  margin: 10px;
}

/*media Queries*/
@media only screen and (min-width: 375px) and (max-width: 600px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
  }
  .hero-text{
    padding: 0;
    margin: 0;
  }
  .hero-form{
    width: 100%;
    padding-right:20px;
    padding-left: 20px;
  }
}